{% extends 'mall/base.html' %}
{% load bootstrap4 %}


{% block header %}
    <br><h3>{{ user.username }} 的购物车</h3>
    <hr>
    <p class="container row" style="margin: 0">
    <span class="col-4 text-left" style="margin-left: 0">
        商品详情
    </span>
        <span class="col-2">
                单价
            </span>

        <span class="col-2">
                数量
            </span>
        <span class="col-2">
                金额
            </span>
        <span class="col-2 text-right">
                操作
            </span>
    </p>

{% endblock header %}


{% block content %}
    {% for my in my_cart %}
        <div class="container row" style="margin: 0">
    <span class="col-4 text-left" style="margin-left: 0">
        {{ my.goods.name }}
    </span>
            <span class="col-2">
                {{ my.goods.price }}
            </span>

            <span class="col-2">
                {{ my.amount }}
            </span>
            <span class="col-2">
                {{ my.amount }} * {{ my.goods.price }}
            </span>
            <span class="col-2 text-right">
                <!-- Button trigger modal -->
                <form action="{% url 'mall:send_email' %}" method="post">
                    {% csrf_token %}
                    <input name="my_id" type="hidden" value="{{ my.id }}">
                        <button type="submit" class="btn btn-outline-danger">
                            购买
                        </button>
                </form>
            </span>

        </div>
    {% endfor %}


{% endblock content %}