{% extends 'mall/base.html' %}
{% load bootstrap4 %}


{% block header %}
    <br><h3>{{ user.username }} 的购物车</h3>
    <hr>

    {% if my_cart %}
        <div class="row" style="margin: 0">
            <div class="col-2 text-left">
                图片展示
            </div>
            <div class="col-2 text-left" style="margin-left: 0">
                商品名称
            </div>
            <div class="col-2">
                单价
            </div>

            <div class="col-2">
                数量
            </div>
            <div class="col-2">
                金额
            </div>
            <div class="col-2 text-center">
                操作
            </div>
        </div>
    {% endif %}

    <br>

{% endblock header %}


{% block content %}
    {% for my in my_cart %}
        <div class="row">

            <div class="card mb-3" style="max-height: 100px; width: 100%;">
                <div class="row">
                    <div class="col-md-2">
                        <div style="overflow: hidden;">
                            <div class="zoomImage img-thumbnail"
                                 style="
                                         background-image:url('/media/{{ my.goods.photo }}');
                                         width: 100px;
                                         height: 100px;
                                         {#padding-bottom: 100%;#}
                                         overflow: hidden;
                                         background-position: center center;
                                         background-repeat: no-repeat;
                                         -webkit-background-size: cover;
                                         -moz-background-size: cover;
                                         background-size: cover;"></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <span style="line-height: 100px">&nbsp;&nbsp; {{ my.goods.name }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="text"
                              style="line-height: 100px; color: coral;"> <strong><small>￥:</small> {{ my.goods.price|floatformat }}</strong></span>
                    </div>
                    <div class="col-md-2">
                        <span style="line-height: 100px">{{ my.amount }}</span>
                    </div>
                    <div class="col-md-2">
                        <span class="text"
                              style="line-height: 100px; color: coral"> <strong><small>￥:</small> {{ my.total_cost|floatformat }}</strong></span>
                    </div>
                    <div class="col-2 text-center" style="display: flex; justify-content: center;align-items: center;">

                        <form action="{% url 'mall:cart' %}" method="post" style="margin: 0;">
                            {% csrf_token %}
                            <input name="remove" type="hidden" value="1">
                            <input name="my_id" type="hidden" value="{{ my.id }}">
                            &nbsp;
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                移除
                            </button>
                        </form>
                        &nbsp;
                        <form action="{% url 'mall:send_email' %}" method="post" style="margin: 0;">
                            {% csrf_token %}
                            <input name="my_id" type="hidden" value="{{ my.id }}">
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                购买
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {% empty %}

        <div class="jumbotron">
            <h1 class="display-4">😀😀😀 <br> 这里空空如也。。。</h1>
            <p class="lead">
                快去选购心仪的商品吧</p>
            <hr class="my-4">
            <a class="btn btn-outline-success btn-lg" href="{% url 'mall:home' %}" role="button">返回首页</a>
        </div>


    {% endfor %}

    <hr>

    {#    移除所有商品，有时间的话可以选择实现一下 #}
    {#    <form action="{% url 'mall:cart' %}" method="post" style="margin: 0;">#}
    {#        {% csrf_token %}#}
    {#        <input name="remove" type="hidden" value="1">#}
    {#        <input name="my_id" type="hidden" value="{{ my.id }}">#}
    {#        &nbsp;#}
    {#        <button type="submit" class="btn btn-sm btn-outline-success">#}
    {#            移除#}
    {#        </button>#}
    {#    </form>#}

    {% if my_cart %}
        <form method="post" action="{% url 'mall:send_email' %}">
            {% csrf_token %}
            <input name="buy_all" value="yes" type="hidden">
            <button type="submit" class="btn-lg btn-block btn btn-outline-danger">结算所有</button>
        </form>
    {% endif %}


{% endblock content %}