{% extends 'mall/base.html' %}

{% block header %}
    <br><h3>付款清单</h3><hr>
{% endblock header %}

{% block content %}
    {% for g in goods %}
        <p>{{ g.goods.name }}</p>
    {% endfor %}
    <form action="{% url 'mall:purchased' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">邮箱：</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">输入邮箱以追踪商品物流信息</small>
        </div>
        <input name="goods" type="hidden" value="{{ goods }}">
        <button type="submit" class="btn btn-danger">付款</button>
    </form>

{% endblock content %}