{% extends 'mall/base.html' %}
{% load bootstrap4 %}

{% block header %}
    <br>
    <h2>Log in to your account</h2>
    <hr>
{% endblock header %}


{% block content %}
    <br>
    {% if form.errors %}
        <p>something wrong</p>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="login" class="btn btn-outline-primary">log in</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'mall:index' %}"/>
    </form>
{% endblock content %}